 header {
      background: #1e1e1e;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      box-shadow: 0 2px 6px rgba(255, 59, 63, 0.5);
    }

.navbar-brand {
  color: #fff !important;
  font-weight: 700;
  font-size: 1.8rem;
}

.nav-link {
  color: #fff !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff3b3f !important;
  text-decoration: none;
}

.navbar-toggler {
  border-color: #fff;
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28 255, 255, 255, 1 %29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.dropdown-menu {
  background-color: #222;
  border: none;
  min-width: 180px;
}

.dropdown-item {
  color: white;
  font-weight: 600;
  transition: color 0.3s;
}

.dropdown-item:hover {
  color: white;
  background-color: transparent;
}

.dropdown-item:hover {
  color: white;
  background-color: rgba(255, 59, 63, 0.1); /* barra roja sutil de fondo */
  border-left: 4px solid #ff3b3f; /* si querés barra a la izquierda */
}
